<div class="container">

	<h1><%= current_user.username %></h1>
	<p><%= current_user.email %></p>

	<p><a href="/users/<%= current_user.id %>/edit">Edit info</a></p>
	<form method="post" action="/users/<%= current_user.id %>">
	  <input type="hidden", name="_method" value="delete">
	  <input class="delete" type="submit" value="Delete User">
	</form>


	<!-- If there is an entry or something related to user -->
	<h3> <%=@user.username%>'s Auctions </h3>
	<% @user.auctions.each do |auction| %>
	<%= erb :"/auctions/_show", locals:{ auction: auction } %>
	<% end %>

	<div class="new_auction">
	<a href="/auctions/new">Make a new Auction.
		</a>
	</div>
</div>